body {
  background-image: url('./public/starry-sky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 70px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

pre {
  white-space: pre-wrap;
}
