body {
  background-image: url('./public/starry-sky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the body takes the full viewport height */
  margin: 0;
  color: white;
}

.container {
  background-color: green;
  width: 1200px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: red;
  width: 90%;
  height: 90%;
  display: flex;
}
.card-left {
  background-color: pink;
  width: 50%;
}

.card-right {
  background-color: yellow;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.container img {
  height: 80%;
  width: 80%;
  border-radius: 10px;
}
